.header {
    margin-top: 20px;
}

.header nav a {
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.navbar a:hover {
    color: goldenrod;
}

.singout-btn {
    border: none;
    background-color: white;
    font-size: 1em;
}

.singout-btn:hover {
    color: goldenrod;
}

.icon {
    font-size: 1em;
}