.login-input-fields input {
    width: 300px;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn {
    width: 150px !important;
}

.login-btn:hover {
    color: goldenrod;
}

.google-sign-btn {
    width: 300px;
    padding: 7px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.google-sign-btn:hover {
    color: goldenrod;
}

.google-icon {
    font-size: 1.3em;
}